* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "krona", sans-serif;
    color: #979797;
}

body {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/img/rafael-garcin-web.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    backdrop-filter: blur(7px);
}

@font-face {
    font-family: "krona";
    src:
        url("assets/font/KronaOne-Regular.woff2") format("woff2"),
        url("assets/font/KronaOne-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.mainBox {
    border: 3px solid #665E5E;
    border-radius: 100px;
    width: clamp(2vw, 80vw, 80vw);
    min-height: clamp(5dvh, 75dvh, 75dvh);
    /* max-height: 100dvh; */
    /* height: 75dvh; */
    height: auto;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.765);

    /* display: flex;
    justify-content: space-between; */
    /* position: relative; */
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    
}

img {
    display: block;
    max-width: 100%;
    min-height: 100%;
    height: auto;
    /* position: relative; */
}

.photoholgic-spider {
  /* top: 8.125rem; */
  /* left: 10rem; */
  border-radius: 100px;
  /* position: absolute; */
}

.headtext {
    font-size: clamp(0.5em, calc(2vw + 1em), 1.5em);
    text-align: right;
    padding-top: 2.5rem;
    padding-right: 2.8rem;
    max-width: 34ch;
}

.fieldset {
    padding-top: 1.5rem;
}


.inputFields {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1.5rem;
    padding-right: 2rem;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1em;
}

label {
    font-size: 0.8em;
}

input:user-invalid {
    border-color: rgb(106, 32, 32);
}
input:user-valid {
    border-color: rgb(42, 79, 42);
}

input {
    all: unset;
    border: 1px solid #665E5E;
    border-radius: 21px;
    padding: 0.3rem;
    width: 15.68rem;
    height: 26px;
    font-size: 0.825em;
}

input::placeholder {
    font-size: 0.825em;
}

.subtext {
    /* text-align: center; */
    font-size: 1.380em;
    padding-top: 2.5rem;
    padding-right: 2.3rem;
}

.subtext2 {
    font-size: 0.725em;
    text-align: right;
    padding-top: 0.3rem;
    padding-right: 2.3rem;
    /* padding-left: 5rem; */
    /* max-width: 44ch; */
}

.button-ctr {
    padding-top: 2rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
}

button {
    all: unset;
    border: 1px solid #665E5E;
    border-radius: 21px;
    padding: 0.3rem;
    width: 211px;
    height: 36px;
    font-size: 0.825em;
    text-align: center;
    background-color: #2D3033;
    transition: background-color 0.25s;
}

button:hover {
    background-color: #20272f;

}

.bottomtext {
    font-size: 0.625em;
    text-align: center;
    padding-top: 1rem;
    padding-right: 0.8rem;
    padding-bottom: 1rem;
}

a {
    text-decoration: none;
    color: rgb(232, 232, 242);
}

.errorMessage {
    font-size: 0.5em;
    display: flex;
    justify-content: flex-end;
    padding-right: 10.5rem;
    padding-top: 0.3rem;
    visibility: hidden;
}